.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img {
    width: 22%; /* Adjust the width as needed */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
    margin-right: 10px; /* Space between images */
}

.gallery img:last-child {
    margin-right: 0; /* Remove margin from the last image */
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Space between images and button */
}

.btn:hover {
    background-color: #0056b3;
}

.arrow-icon {
    width: 16px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Space between text and icon */
}
